<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
</head>
<body style=background-color:rgb(68,161,211)>
    <a href='/logout'>Log out</a>  /  <a href='/dashboard'>Return to dashboard</a>
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <h4>Registered on: {{user.created_at}}</h4>
    <h4>User ID: {{user.id}}</h4>
    <h4>Email address: {{user.email}}</h4>
    <h4>Description: {{user.description}}</h4>
    <h4>Nickname: {{user.nickname}}</h4>
    <h4>Age:{{user.age}}</h4>
    <h3>Leave a message for {{user.first_name}}</h3>
    <img src='{{user.photo.url}}'>
    
    {% for message in messages %}
    <p style=color:red;>{{message}}</p>
    {% endfor %}
    
    <form action='/users/show/{{user.id}}/post' method='POST'>
        {% csrf_token %}
        <textarea style='background-color:honeydew;' name='message' rows="5" cols="100"></textarea><br>
        <button type='submit' id='post_message'>Post</button>
    </form>
    
    {% for message in all_messages %}
    <p style=font-style:italic><a href='/users/show/{{message.user.id}}'>{{message.user.first_name}}{{message.user.last_name}}</a>  {{message.created_at}}</p>
    <p style=font-size:larger>{{message.message}}
    {% if message.user.id == request.session.user_id %}
    <a href='/users/show/{{user.id}}/{{message.id}}/delete_message'>Delete</a>
    {% endif %}
    </p>
    {% for comment in message.comments.all %}
    <p style='font-style:italic; color:rgb(196,187,117);'><a href='/users/show/{{comment.user.id}}'>{{comment.user.first_name}}</a> replied on {{comment.created_at}}:</p>
    <p>{{comment.comment}}
    {% if comment.user.id == request.session.user_id %}
    <a href='/users/show/{{user.id}}/{{comment.id}}/delete_comment'>Delete this</a>
    {% endif %}
    </p>
    {% endfor %}
    <form action='/users/show/{{user.id}}/{{message.id}}/comment' method='POST'>
        {% csrf_token %}
        <textarea style='background-color:honeydew;' name='comment' rows="2" cols="50"></textarea><br>
        <button type='submit'>Comment</button>
    </form>
    {% endfor %}
</body>
</html>