<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body style=background-color:rgb(68,161,211)>
    <a class="button button-dahsboard" href='/dashboard'>Dashboard</a>  /  <a class="button button-logout" href='/logout'>log out</a>
    {% for user in result1 %}
    <p><a href='/users/show/{{user.id}}'>{{user.nickname}}</a></p>
    {% endfor %}
    {% for user in result2 %}
    <p><a href='/users/show/{{user.id}}'>{{user.nickname}} {{user.age}}</a></p>
    {% endfor %}
    
</body>

</html>